body {
    background-image: url(/imgs/keith-misner-h0Vxgz5tyXA-unsplash.jpg);
}

.header {
    color: rgb(9, 255, 0);
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px; */
}

#header {
    color: rgb(9, 255, 0);
    font-size: large;
}

.image1 {
    width: 30rem;
    height: 30rem;
}

.input-name {
    height: 50px;
    width: 600px;
    margin-bottom: 10px; 
    padding: 8px; 
    box-sizing: border-box; 
}

.input-img {
    height: 60px;
    width: 600px;
    margin-bottom: 10px; 
    padding: 8px; 
    box-sizing: border-box; 
}

.input-ins {
    height: 100px;
    width: 700px;
    text-align: left;
    margin-bottom: 10px; 
    padding: 8px; 
    box-sizing: border-box; 
}

.input-ing {
    height: 100px;
    width: 700px;
    margin-bottom: 10px; 
    padding: 8px; 
    box-sizing: border-box; 
}

.button-container {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 28.8rem;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
}

.update-button, .delete-button {
    background-color: transparent;
    border: 2px solid #ffcc00;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
    text-transform: uppercase;
    transition: transform 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.update-button:hover, .delete-button:hover {
    border-color: transparent;
    color: #ff6699;
    transform: scale(1.1);
}

/* .update-button {
    background-color: transparent;
    border: solid white;
    color: white;
    cursor: pointer;
    padding: 8px;
}

.delete-button {
    background-color: transparent;
    border: solid white;
    color: red;
    cursor: pointer;
    padding: 8px;
} */

.buttons {  
    display: flex;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: space-between;
    width: 34rem;
    padding: 10px;
    gap: 30px;
} 

.list-container{
    position: absolute;
}

.recipe-container {
    color: white;
}

#recipe-menu {
    display: flex;
    color: white;
    margin-left: 1rem;
    width: 1rem;
    cursor: pointer;
}

.search-bar{
    margin-left: 5rem;
}

.s-list {
    width: 400px;
}

.recipe-list{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    border: 1px solid white;
    list-style-type: none;
    cursor: pointer;
}

.search-list {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    border: 1px solid white;
    list-style-type: none;
    cursor: pointer;
}
